body {
  background-color: rgb(173, 217, 241)
}

header {
  background-color: #4141a5
}

#searchstyle {
  background-color: white;
  border: black
}

#current-weather {
  background-color: white;
  border: black
}

#future-weather {
  background-color: white;
  border: black
}

.fiveday {
  background-color: rgb(82, 123, 235);
  color: white

}
